@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* 기본 텍스트 색상: 흰색 */
  --background-start-rgb: 0, 0, 0; /* 기본 배경색: 검정 */
  --background-end-rgb: 0, 0, 0;   /* 기본 배경색: 검정 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* 어두운 테마 텍스트 색상: 흰색 */
    --background-start-rgb: 0, 0, 0; /* 어두운 테마 배경색: 검정 */
    --background-end-rgb: 0, 0, 0;   /* 어두운 테마 배경색: 검정 */
  }
}

body {
  color: rgb(var(--foreground-rgb)); /* 텍스트 색상 적용 */
  background: rgb(var(--background-start-rgb)); /* 배경색 적용 */
  @apply text-white;
}

h1 {
  @apply text-4xl mb-8;
}

h2 {
  @apply text-2xl mb-2;
}

h3 {
  @apply text-xl mb-2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Carousel 관련 스타일 */
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .carousel-item {
    flex: 0 0 auto;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-item.center {
    transform: scale(1.1);
  }

  .carousel-item.prev, .carousel-item.next {
    opacity: 0.5;
  }
}


/* 정말 찐으로 글로벌로만 모든 것에 전역되는 것(다크모드등등) 절대 안돼! */