@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; 
  --background-start-rgb: 245, 245, 245; 
}

body {
  background: rgb(var(--background-start-rgb)); 
  color: rgb(var(--foreground-rgb)); 
  @apply text-black;
}

h1 {
  @apply text-4xl mb-8;
}

h2 {
  @apply text-2xl mb-2;
}

h3 {
  @apply text-xl mb-2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Carousel 관련 스타일 */
  .carousel-container {
    @apply flex justify-center items-center relative overflow-hidden;
  }

  .carousel-item {
    @apply flex-auto transition-transform duration-500 ease-in-out;
  }

  .carousel-item.center {
    @apply scale-110;
  }

  .carousel-item.prev, .carousel-item.next {
    @apply opacity-50;
  }

  /* 상품 그리드 관련 스타일 */
  .product-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-8;
  }

  .product-item {
    @apply bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out;
  }

  .product-item h2 {
    @apply text-xl font-bold mt-4;
  }

  .product-item p {
    @apply text-gray-600 mt-2;
  }
}
